<!doctype html>
<html lang='ja'>
<head>
	<tiele>BBS</tiele>
	<meta charaset='utf-8'>
</head>
<body>
	<form method='post'>
		<input type='text' name='name'>
		<input type='submit' value='post'>
		<ul>
			<% for (var i=0; i < posts.length; i++){ %>
			<li><%= posts[i] %></li>
		<% } %>
		</ul>
	</form>
</body>
</html>
